body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}


@import './FeedbackOptions.module.css';
@import './Statistics.module.css';
@import './Section.module.css';
